@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Noto+Sans&display=swap');

:root{
    --primary-color: #044935;
    --secondary-color: #24362b;
}

body{
    font-family: 'Noto Sans', sans-serif;  
    margin: 0;
    padding: 0;
    color: white;
}

.name{
    margin: 0rem;
    color: rgb(229, 251, 200);
    font-size: 1.3rem;
    font-family: 'Dancing Script', cursive;
}

.container{
    max-width: 500px;
    height: auto;
    /* background-color: var(--primary-color); */
    background-color: #63d471;
    background-image: linear-gradient(315deg, #63d471 0%, #233329 74%);
    margin: auto;
    padding: 2rem 1rem;
    text-align: center;
}

.heading{
    /* color: var(--secondary-color); */
    color: rgb(229, 251, 200);
    font-size: 1.2rem;
}

input{
    width: 90%;
    padding: 1rem;
    margin: 10px auto;
    height: 12px;
    display: block;
    border: 2px solid var(--primary-color);
}

button{
    margin: 0.2rem;
    margin-bottom: 1rem;
}

.btn{
    padding: 0.7rem 0.5rem;
    width: 5rem;
    font-size: 1rem;
    color: white;
    background-color: var(--secondary-color);
    border: none;
    border-radius: 3px;
    font-weight: light;
}

.output-table{
    margin: 1rem;
}

table, th, td{
    background-color: white;
    color: white;
    background-color: var(--secondary-color);
    margin: 1rem auto;
    padding: 0.5rem;
    border: 2px solid var(--primary-color);
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
}

th{
    font-weight: lighter;
}

.noteCounter{
    background-color: white;
    color: var(--secondary-color);
}

.mid1Error{
    display: none;
}

.mid2{
    display: none;
}

.mid2Error{
    display: none;
}

.lastError{
    display: none;
}

.last{
    display: none;
}
