@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

:root{
    --primary-color: #065F46;
    --light-green: #A7F3D0;
}

body{
    font-family: 'Noto Sans', sans-serif;
    margin: 0;
    padding: 0;
    color: white;
}

.container{
    max-width: 500px;
    height: auto;
    background-color: var(--primary-color);
    margin: auto;
    padding: 2rem 1rem;
    text-align: center;
}

.heading{
    color: var(--light-green);
    font-size: 1.2rem;
}

input{
    width: 90%;
    padding: 1rem;
    margin: 10px auto;
    height: 12px;
    display: block;
}

button{
    margin: 0.2rem;
    margin-bottom: 1rem;
}

.btn{
    padding: 0.7rem 0.5rem;
    width: 5rem;
    font-size: 1rem;
    color: var(--primary-color);
    background-color: var(--light-green);
    border: none;
    border-radius: 3px;
    font-weight: bold;
}

.output-table{
    margin: 1rem;
}

table, th, td{
    background-color: white;
    color: var(--primary-color);
    background-color: var(--light-green);
    margin: auto;
    padding: 0.5rem;
    border: 2px solid var(--primary-color);
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
}

.noteCounter{
    background-color: white;
}

.mid1Error{
    display: none;
}

.mid2{
    display: none;
}

.mid2Error{
    display: none;
}

.lastError{
    display: none;
}

.last{
    display: none;
}
